header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
  background-color: #4A0404;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

#header-main-link {
  margin-top: 10px;
  border-radius: 3px;
}

#header-main-link a {
  margin-top: 10px;
  color: #5C4033;
}

nav a {
  margin-right: 20px;
  margin-left: 20px;
}

h2 {
  background-color: #4A0404;
  color: #F0E68C;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.5em;
}

h2 span {
  margin: 20px;
}

#login {
  background-color: #F0E68C;
  padding-right: 0px;
  padding-left: 0px;
  /* margin-right: 15px;
  margin-left: 15px; */
  border: 2px solid #4A0404;
}

#signup {
  background-color: #F0E68C;
  padding-right: 0px;
  padding-left: 0px;
  /* margin-right: 15px;
  margin-left: 15px; */
  border: 2px solid #4A0404;
}

form {
  padding: 15px;
}

 
#login button {
  background-color: #4A0404;
  color: #F0E68C;
  border: 2px solid #4A0404;
  width: 100%;
}

#signup button {
  background-color: #4A0404;
  color: #F0E68C;
  border: 2px solid #4A0404;
  width: 100%;
}